$primaryBackground: rgba(25, 25, 25, 0.5);
$contentBackground: rgba(25, 25, 25, 0.95);
$headingBackground: #000;
$aquaBlue: #4c98c2;
$shadowColor: rgba(255, 255, 255, 0.5);
$shadowColorSmall: rgba(255, 255, 255, 0.1);
$footerLight: #4b4b4b;
$footerDark: #242424;
$imageShadow: 0px 0px 5px 0px $shadowColor;
$jrHelperColor: #7790ff;
$helperColor: #0094ff;
$expertColor: #ffc300;
$jrModColor: #b2ce00;
$modColor: #4cd200;
$adminColor: #d70000;
$ownerColor: #00cdff;
$webDevColor: #d70074;
