$primaryBackground: rgba(255, 255, 255, 0.8);
$contentBackground: rgba(255, 255, 255, 0.95);
$headingBackground: #fff;
$aquaBlue: #4c98c2;
$shadowColor: rgba(0, 0, 0, 0.5);
$shadowColorSmall: rgba(0, 0, 0, 0.1);
$footerLight: #4b4b4b;
$footerDark: #242424;
$imageShadow: 0px 0px 5px 0px $shadowColor;
$retiredColor: #004a7f;
$emeritusColor: #9B61FF;
$jrHelperColor: #7790ff;
$helperColor: #0094ff;
$expertColor: #ffc300;
$jrModColor: #b2ce00;
$modColor: #4cd200;
$adminColor: #d70000;
$ownerColor: #00cdff;
$webDevColor: #d70074;
