@import "_dark_variables";

h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
  color: white;
}

footer {
  background-color: $footerLight !important;
}

#footerEnd {
  background-color: $footerDark !important;
  color: $footerLight !important;
}

#footerEnd p,
#footerEnd span {
  color: $footerLight;
}

#forumContainer,
#forumHeader,
#threadContent,
#forumContent table tr:not(.not),
#forumContent table tbody,
#fullPage,
#header {
  background-color: $primaryBackground !important;
  color: white !important;
}

#forumHeading {
  background-color: $headingBackground !important;
}

#threadPage {
  background-color: $contentBackground !important;
}

#likesDiv {
  border: 2px solid $contentBackground !important;
  background-color: $contentBackground !important;
  color: white !important;
}

#TrendingPlots {
  background-color: $primaryBackground !important;
  color: white !important;
}

textarea:not(.not),
input[type="text"]:not(.not),
input[type="password"]:not(.not),
select:not(.not),
button:not(.not),
input[type="submit"]:not(.not),
input[type="button"]:not(.not),
#likesDiv,
.checkmark {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: white !important;
}

#header #profile {
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

#centerPanelWrapper,
#fullWidthPanelWrapper,
#panelWrapper,
#panelBackground {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

#panelHeading {
  box-shadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.5);
}

button:not(.not):not(.successBtn):disabled,
input[type="submit"]:not(.successBtn):disabled,
input[type="button"]:not(.successBtn):disabled,
#forumContent table tr:not(.not),
#forumContent table thead tr:not(.not),
#forumContent table thead h1:not(.not),
#forumContent table tbody tr td,
#forumContent table tbody a,
#forumContent table tbody h1,
#forumContent table tbody h4,
#forumHeading h1,
#forumHeader h1,
#header #links li a,
#header a,
#authorInfo {
  color: white !important;
}

#centerPanelWrapper,
#fullWidthPanelWrapper,
#panelWrapper,
#panelHeading,
#actions,
#panelBackground,
#blacklist #actions,
#threadView,
#container,
.checkmark {
  background-color: $primaryBackground !important;
}

#backgroundTint {
  background-color: rgba(100, 100, 100, 0.8);
}

#header span {
  background-color: white;
}

textarea:not(.not)::placeholder,
input[type="text"]:not(.not)::placeholder,
input[type="password"]:not(.not)::placeholder,
select:not(.not)::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
